In [1]:
#1 Create a function that takes a boolean variable flag and returns it as a string.



def bool_to_string(flag):
    if flag==False:
        return "False"
    elif flag==True:
        return "True"
    else:
        return none

In [3]:
bool_to_string(True)

'True'

In [4]:
bool_to_string(False)

'False'

In [5]:
#2 Create a function that returns True when num1 is equal to num2; otherwise return False.

def is_same(num1,num2):
    if num1==num2:
        return True
    else:
        return  False

In [6]:
is_same(1,2)

False

In [8]:
is_same(2,2)

True

In [10]:
#3 Create a function that takes a number as its only argument and returns True 
#if it's less than or equal to zero, otherwise return False.






def is_equal(num1):
    if num1<=0:
        return True
    else:
        return False

In [11]:
is_equal(1)

False

In [12]:
is_equal(0)

True

In [13]:
#4 Emmy has written a function that returns a greeting to users.
#However, she's in love with Mubashir, and would like to greet him slightly differently.
#She added a special case in her function, but she made a mistake.
#Can you help her?



def greeting(var):
    if var=="mubashir":
        return"Hello, My Love!"
    else:
        return "Hello",var

In [14]:
greeting("mati")

('Hello', 'mati')

In [16]:
greeting("mubashir")

'Hello, My Love!'

In [20]:
#5 Create a function that takes two arguments. Both arguments are integers, a and b. Return True if one of them is 10 or if their sum is 10.

def if_sum(a,b):
    if a==10 or b==10 or a+b==10:
        return True
    else:
        return False

In [21]:
if_sum(2,3)

False

In [22]:
if_sum(5,5)

True

In [23]:
#6 Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay; otherwise return False.

def ppp(prob, prize, pay):
    if prob * prize > pay:
        return True
    else:
        return False

In [24]:
ppp(2,3,4)

True

In [25]:
ppp(1,2,5)

False

In [26]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.

def div(num1):
    if num1%100==0:
        return True
    else:
        return False

In [27]:
div(100)

True

In [28]:
div(1000)

True

In [29]:
#8  Create a function that takes two strings as arguments and return either True or False depending on whether the 
# total number of characters in the first string is equal to the total number of characters in the second string.

def equal_string(a,b):
    if len(a)==len(b):
        return True
    else:
        return False

In [30]:
equal_string("even","odd")

False

In [31]:
equal_string("apples","grapes")

True

In [37]:
#9 Given a string, return True if its length is even or False if the length is odd.


def even_len(a):
    if len(a)%2==0:
        return True
    else:
        return False

In [38]:
even_len("even")

True

In [39]:
even_len("odd")

False

In [32]:
#10 Create a function that takes a string; we'll say that the front is the first three characters of the string. 
#If the string length is less than three characters, the front is whatever is there. 
#Return a new string, which is three copies of the front.


def front_times(a):
    if len(a)<3:
        return a
    else:
        return a[:3]*3

In [33]:
front_times("coco")

'coccoccoc'

In [34]:
front_times("eye")

'eyeeyeeye'

In [44]:
#11 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers


def even_odd_num(a):
    if a%2==0:
        return "even"
    else:
        return "odd"

In [45]:
even_odd_num(3)

'odd'

In [46]:
even_odd_num(4)

'even'

In [51]:
#12 Create a function that takes in a word and determines whether or not it is plural. 
#A plural word is one that ends in "s".

def singular_plural(a):
    if a[-1]=="s" :
        return "plural"
    else:
        return "singular"

In [52]:
singular_plural ("apples")

'plural'

In [53]:
singular_plural("apple")

'singular'

In [54]:
#13 Create a function that takes a string (a random name). If the last character of the name is an "n", return True, 
#otherwise return False.

def last_character(a):
    if a[-1]=="n" :
        return "True"
    else:
        return "False"

In [55]:
last_character("pen")

'True'

In [56]:
last_character("name")

'False'

In [5]:
#14 The packaging system is running wild! The candy is lying loose all over in the warehouse, the cereal is missing, 
#and bread is stuffed in a bottle. What is going on here? The candy should be in plastic and the bread should be in a bag.
#The packaging machine is running the get_container() function to retrieve the container of a product.
#But something is not right...


def get_container(product):
    matches = {"Bread" : "bottle","Milk" : "bottle","Beer" : "bottle","Eggs" : "carton","Cerials" : "box","Candy" : "None"}
    return matches[product]

In [8]:
get_container("Bread")

'bottle'

In [11]:
get_container("Eggs")

'carton'

In [12]:
#15 Due to a programming concept known as truthiness, certain values can be evaluated to (i.e. take the place of) booleans. 
#For example, 1 (or any number other than 0) is often equivalent to True, and 0 is often equivalent to False.


def flip_bool(value):
    if value>=1:
        return True
    else:
        return False

In [13]:
flip_bool(1)

True

In [14]:
flip_bool(0)

False

In [15]:
#16 Write a function that accepts base (decimal), height (decimal) and 
#shape ("triangle", "parallelogram") as input and calculates the area of that shape.

def  shapes(base,height,shape="triangle"or "parallelogram"):
    if shapes=="triangle":
        area_of_triangle=0.5*base*height
        return area_of_triangle
    else:
        area_of_parallelogram=base*height
        return area_of_parallelogram

In [16]:
shapes(2,3,"triangle")

6

In [17]:
shapes(4,5,"parallelogram")

20

In [18]:
#17 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.



def AND_gate(a,b):
    return a and b
def OR_gate(a,b):
    return a and b
def NOT_gate (a,b):
    return a and b
a=input("type 1 or 0 :")
b=input("type 1 or 0 :")

output_AND=AND_gate(a,b)
print("AND gate output :",output_AND)

output_OR=OR_gate(a,b)
print("OR agte output :",output_OR)

output_NOT=NOT_gate(a,b)
print("NOT gate output :",output_NOT)

type 1 or 0 :1
type 1 or 0 :0
AND gate output : 0
OR agte output : 0
NOT gate output : 0

In [19]:
#18 A bartender is writing a simple program to determine whether he should serve drinks to someone.
#He only serves drinks to people 18 and older and when he's not on break.
#Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.



def bartender(age,break_time="yes"or"no"):
    if age>=18 and break_time=="yes":
        return "serve"
    else:
        return "no_serving"

In [21]:
bartender(18,"yes")

'serve'

In [24]:
# 19 Write a function that returns the string "even" if the given integer is even, and the string "odd" if it's odd.

def parity(n):
    remainder = bool(n % 2)
    if remainder == False:
        return "even"
    if remainder == True:
        return "odd"

In [25]:
parity(4)

'even'

In [29]:
#20 Create a function that takes a string txt and a number n and returns the repeated string n number of times.

#If given argument txt is not a string, return Not A String !!

#Examples
#repeat_string("Mubashir", 2) ➞ "MubashirMubashir"

#repeat_string("Matt", 3) ➞ "MattMattMatt"

#repeat_string(1990, 7) ➞ "Not A String !!"


def repeat_string(string,times):
    new_string=string*times
    return new_string

In [30]:
repeat_string("apple",2)

'appleapple'

In [57]:
#21 A taxi journey costs $3 for the first kilometer travelled. However, all kilometers travelled after that will cost $2 each.

#Create a function which returns the distance that the taxi must've travelled, given the cost as a parameter.


def journey(cost):
    distance=1
    if cost==3:
        return distance
    else:
        return distance + int((cost-3)/2)

In [58]:
journey(3)

1

In [59]:
journey(9)

4

In [3]:
#22 Levers are simple machines with a rigid beam and a fulcrum. From the picture below, you can see that there are 3-types of levers: first class, second class and third class.

#In a first class lever, the fulcrum is situated in the middle with the effort and the load being positioned opposite of each other.
#In a second class lever, the fulcrum is situated in the right with the effort on the left and the load in the middle.
#In a third class lever, the fulcrum is situated in the left with the effort being in the middle and the load being on the right.


#Given a list that contains the fulcrum "f", the effort "e", and the load "l",
#write a function that determines whether or not the list shows a first class lever, second class lever, or a third class lever.


def determine_lever(l):
    if  l[0]=="e" and l[1]=="f" and l[2]=="l":
        return "first class lever"
    elif l[0]=="e" and l[1]=="l" and l[2]=="f":
        return "second class lever"
    elif l[0]=="f" and l[1]=="e" and l[2]=="l":
        return "third class lever"
    else:
        return "None"

In [6]:
determine_lever(["e","f","l"])

'first class lever'

In [7]:
#23 Write a function that checks whether a person can watch an MA15+ rated movie. One of the following two conditions is required for admittance:

#The person is at least 15 years old.
#They have parental supervision.
#The function accepts two parameters, age and is_supervised. Return a boolean.



def accept_into_movie(age,parent="yes"or"no"):
    if age>15 or age==15 and parent=="yes":
        return True
    else:
        return False

In [8]:
accept_into_movie(18,"yes")

True

In [16]:
#24 Create a function that returns a number, based on the string provided. Here is a list of all digits:

def word(var):
    numbers={"one":1,"two":2,"three":3,"four":4,"five":5,"six":6,"seven":7,"eight":8,"nine":9,"zero":0}
    return numbers[var]

In [17]:
word("one")

1

In [18]:
#25 Write a function that uses the ternary operator to return "yeah" if b is True, and "nope" otherwise.

In [52]:
#26 Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the name of an ancestor (m/f) or descendant (m/f).

#If the number is negative, return the related ancestor.
#If positive, return the related descendant.
#You are generation 0. In the case of 0 (male or female), return "me!".

def find_relative_name(x, y):
    generations=int(x)
    gender = y.lower()

    if generations == 0:
        return "me!"
    
    if gender == "m":
        if x < 0:
            return "ancestor " + str(generations) + " generations up"
        else:
            return "descendant " + str(generations) + " generations down"
    
    if gender == "f":
        if x < 0:
            return "ancestress " + str(generations) + " generations up"
        else:
            return "descendant " + str(generations) + " generations down"
    
    return "Invalid gender specified. Please use 'm' for male or 'f' for female."

In [53]:
find_relative_name(0,"m")

'me!'

In [11]:
#27 Backpack Bill and Wallet Will set off for the annual festival. As they approach the stalls, Bill retorts that he'll be able to bring home more stuff than Will. Taking this as a challenge, Will refutes and a competition spurs into action.

#Backpack Bill has an infinite inventory space, but a limited number of coins.
#Wallet Will has an infinite number of coins, but a limited inventory space.

#Create a function that returns the name of the man who can bring home the most items. The parameters are given as follows:

#Bill's amount of money.
#Will's amount of inventory space.
#The item's price.
#The item's size.


def who_wins_tonight(coins, space, price, size):
    bill = coins # price
    will = space # size
    if bill < will:
        
        return "Will"
    elif bill > will:
        return "Bill"
    else:
        return "Tie"

In [12]:
who_wins_tonight(100,50,10,5)

'Bill'

In [14]:
who_wins_tonight(10,20,85,30)

'Will'

In [29]:
#28   Create a function that validates whether a number n is within the bounds of lower and upper. 
#Return False if n is not an integer.

def int_within_bounds(n,lower,upper):
     if type(n)==int:
        if lower<=n<=upper:
            return True
        else:
            return False

In [30]:
int_within_bounds(3,1,9)

True

In [31]:
int_within_bounds(1,6,6)

False

In [32]:
#29  Write a function that returns the boolean True if the given number is zero, the string "positive" 
#if the number is greater than zero or the string "negative" if it's smaller than zero.


def num_equal_to(n):
    if n>0:
        return "positive"
    elif n<0:
        return "negative"
    else:
        return True

In [33]:
num_equal_to(1)

'positive'

In [35]:
num_equal_to(-1)

'negative'

In [36]:
num_equal_to(0)

True

In [38]:
#30 Create a function that determines if the temp of the water is considered boiling or not. 
#temp will be measured in Fahrenheit and Celsius.

def water_temp(x):
    if x>="100C" or x>="212F":
        return True
    else:
        return False

In [39]:
water_temp("200C")

True

In [40]:
water_temp("0C")

False

In [56]:
#31 Create a function that takes two arguments of a list of numbers lst and a constant number n 
#and returns the n largest numbers from the given list.



def largest_numbers(n, lst):
    if n <= 0:
        return []  # Return an empty list if n is 0 or negative

    largest_nums = []
    for num in lst:
        if len(largest_nums) < n:
            largest_nums.append(num)
        else:
            min_num = min(largest_nums)
            if num > min_num:
                largest_nums.remove(min_num)
                largest_nums.append(num)

    return largest_nums

In [57]:
largest_numbers(2,[1,2,3,4])

[3, 4]

In [62]:
#32 Create a function that takes a range object r, index i, and returns a list where the first element is the 
#number of elements in the range object, and the second element is the element of the range object at the given index.


def length_elements(range,i):
    return [len(range), range[i]]

In [63]:
length_elements((2,4),0)

[2, 2]

In [64]:
length_elements((12,15,2),1)

[3, 15]

In [79]:
#33 Write a function that returns the first truthy argument passed to the function. 
#  If all arguments are falsy, return the string "not found".
#  The function will be called with a minimum of one and a maximum of four arguments: a, b, c, d.




def first_one(a, b="None", c="None", d="None"):
    arguments = [a, b, c, d]

    for arg in arguments:
        if arg:
            return arg
        else:

            return "not found"

In [80]:
first_one(0,False,"None","Hello")

'not found'

In [2]:
#34 Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.

def is_triangle(a,b,c):
    if a+b>c and a+c>b and b+c>a :
        return True
    else:
        return False

In [3]:
is_triangle(2,3,4)

True

In [5]:
is_triangle(2,3,8)

False

In [19]:
#35  A "truthy" value is a value that translates to True when evaluated in a Boolean context. All values are truthy unless they're defined as falsy.

#All falsy values are as follows:

#False
#None
#0
#[]
#{}
#""
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.


def is_truthy (value):
    if bool(value):
        return 1
    else:
        return 0

In [20]:
is_truthy(0)

0

In [21]:
is_truthy("False")

1

In [34]:
#36  Write a function that returns True if both numbers are:

#Smaller than 0, OR ...
#Greater than 0, OR ...
#Exactly 0
#Otherwise, return False.



def both(n1,n2):
    if (n1 > 0 and n2 > 0) or (n1 == 0 and n2 == 0) or (n1 < 0 and n2 < 0):
        return True
    else:
        return False

In [35]:
both(2,3)

True

In [36]:
both(0,0)

True

In [37]:
both(-1,2)

False

In [39]:
#37   Create a function that takes a list. This list will contain numbers represented as strings.

#Your function should split this list into two new lists. The first list should contain only even numbers. 

#The second only odd. Then, wrap these two lists in one main list and return it.

#Return an empty list if there are no even numbers, or odd.



def clean_up_list(lst):
    even = [i for i in map(int, lst) if i%2 == 0]
    odd = [i for i in map(int, lst) if i%2 == 1]
    return [even, odd]

In [40]:
clean_up_list([2,3,4,5,6])

[[2, 4, 6], [3, 5]]

In [42]:
#38  Create a function which returns True if a given variable name is valid, otherwise return False.

def variable_valid (var1):
    if var1[0].isalpha():
        return True
    else:
        return False

In [43]:
variable_valid("result")

True

In [44]:
variable_valid("23")

False

In [46]:
#39  Create a function that takes two integers and checks if they are equal.

def is_equal(num1,num2):
    if num1==num2:
        return True
    else:
        return False

In [47]:
is_equal(1,1)

True

In [48]:
is_equal(0,1)

False

In [57]:
#40   Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num is 1, otherwise return "Bye" + name.



def say_hello_bye(var1,num):
    if num==1:
        return "Hello "+ var1
    else:
        return "Bye " + var1

In [58]:
say_hello_bye("allen",1)

'Hello allen'

In [59]:
say_hello_bye("allen",0)

'Bye allen'

In [74]:
#41  In a board game, a piece may advance 1-6 tiles forward depending on the number rolled on a six-sided die. 

#If you advance your piece onto the same tile as another player's piece, both of you earn a bonus.

#Can you reach your friend's tile number in the next roll?

#Create a function that returns if it's possible to earn a bonus when you roll the die.




def possible_bonus(a, b):
       if a>=b:
        return False
       elif abs(a-b) <=6:
        return True
       else:
        return False

In [75]:
possible_bonus(1,3)

True

In [76]:
possible_bonus(1,9)

False

In [3]:
#42  Create a function that takes three number arguments — one number as an input and two additional numbers representing
#the endpoints of a closed range — and return the number limited to this range.


def limit_number(num, range_low, range_high):
     a=[num,range_low,range_high]
     a.sort()   
     return a[1]

In [4]:
limit_number(5,1,10)

5

In [5]:
#43   Write a function that takes an integer and:

#If the number is a multiple of 3, return "Hello".
#If the number is a multiple of 5, return "World".
#If the number is a multiple of both 3 and 5, return "Hello World".




def hello_world(x):
    if x%3==0 and x%5==0:
        return "Hello World"
    elif x%5==0:
        return "world"
    else:
        return "Hello"

In [6]:
hello_world(3)

'Hello'

In [8]:
hello_world(5)

'world'

In [9]:
hello_world(15)

'Hello World'

In [30]:
#44  Given a string and a style character, return the newly formatted string. Style characters are single letters that represent the different types of formatting.

#For the purposes of this challenge, the style characters are as follows:

#"b" is for bold
#"i" is for italics
#"c" is for inline code
#"s" is for strikethrough


def markdown(string,style):
    if style=="b":
        return "**{}**".format(string)
    elif style=="i":
        return "_{}_".format(string)
    elif style=="c":
        return "'{}'".format(string)
    elif style=="s":
        return "~~{}~~".format(string)
    else:
        return string

In [31]:
markdown("Bold","b")

'**Bold**'

In [32]:
markdown("italics","i")

'_italics_'

In [33]:
markdown("inline","c")

"'inline'"

In [34]:
markdown("strike","s")

'~~strike~~'

In [35]:
#45 Write a function that returns True if a year is a leap, otherwise return False.

def leap_year(x):
    if x%4==0:
        return True
    else:
        return False

In [36]:
leap_year(1924)

True

In [37]:
leap_year(1990)

False

In [41]:
#46  Given a pH value, return whether that value is "alkaline" (greater than 7), "acidic" (less than 7), or "neutral" (7). 
#Return "invalid" if the value given is less than 0 or greater than 14.

def pH_name(x):
    if x<0 or x>14:
        return "invalid"
    elif x==7:
        return "neutral"
    elif x>7:
        return "alkaline"
    else:
        return "acidic"

In [42]:
pH_name(5)

'acidic'

In [43]:
pH_name(8.7)

'alkaline'

In [44]:
pH_name(7)

'neutral'

In [45]:
pH_name(-5)

'invalid'

In [46]:
#47  Darts is a target game played by throwing feathered darts at a circular board with numbered spaces.
# Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance from the middle.
# You need to create a function that takes the dart location as two cartesian coordinates (x, y) and returns a score based 
# on the distance from the middle, aka Bullseye (x=0, y=0).



def calculate_dart_score(x, y):
    distance = (x ** 2 + y ** 2) ** 0.5  
    if distance <= 1:  
        return 10
    elif distance <= 5:  
        return 5
    elif distance <= 10: 
        return 1
    else:  
        return 0

In [47]:
calculate_dart_score(0,0)

10

In [48]:
calculate_dart_score(3,2)

5

In [49]:
calculate_dart_score(0,-0.8)

10

In [50]:
#48 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine whether or not the hurdler can clear all the hurdles.
# A hurdler can clear a hurdle if their jump height is greater than or equal to the hurdle height.

def hurdle_jump(jumpers_height,hurdle_jump):
    for x in hurdle_jump:
        if jumpers_height> x:
            return True
        else:
            return False

In [52]:
hurdle_jump(5,[1,2,3,4,5])

True

In [53]:
hurdle_jump(3,[5,5,3,4,5])

False

In [54]:
#49  Create a function which returns the type of triangle, given the side lengths. Return the following values if they match the criteria.

#No sides equal: "scalene"
#Two sides equal: "isosceles"
#All sides equal: "equilateral"
#Less or more than 3 sides given: "not a triangle"



def get_triangle_type(side1, side2, side3):
    if side1 <= 0 or side2 <= 0 or side3 <= 0:
        return "not a triangle"

    if side1 == side2 and side1 == side3:
        return "equilateral"
    elif side1 == side2 or side1 == side3 or side2 == side3:
        return "isosceles"
    else:
        return "scalene"

In [55]:
get_triangle_type(3,4,5)

'scalene'

In [56]:
get_triangle_type(5,5,7)

'isosceles'

In [57]:
get_triangle_type(5,5,5)

'equilateral'

In [58]:
get_triangle_type(1,2,3)

'scalene'

In [59]:
get_triangle_type(0,1,2)

'not a triangle'

In [60]:
#50 Write a function that return True if two rooks can attack each other, and False otherwise.

def can_capture(rooks):
    rook1 = rooks[0]
    rook2 = rooks[1]

    
    if rook1[0] == rook2[0] or rook1[1] == rook2[1]:
        return True

    return False

In [61]:
can_capture(["A8", "E8"])

True

In [62]:
can_capture(["A1","B2"])

False

In [65]:
#51 Given an integer n. Your task is to find how many digits this integer contains without using str or len methods!

def count_digits(n):
    if n == 0:
        return 1  # Special case for zero

    count = 0
    while n != 0:
        n //= 10  # Divide by 10
        count += 1

    return count

In [67]:
count_digits(100)

3

In [71]:
#52 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only identical elements.

def count_identical_lists(lst):
    count = 0
    for sub_list in lst:
        if len(set(sub_list)) == 1:
            count += 1
    return count

In [72]:
count_identical_lists([[1,1,1],[2,2,2],[3,3,3]])

3

In [68]:
#53 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string.
#For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.

def months(x):
    months =["january","february","march","april","may","june","july","august","september","october","november","december"]
    if x<1 or x>12:
        return "invalid month entered"

    else:
        return months[x-1]

In [69]:
months(11)

'november'

In [77]:
#54 Create a function that takes an initial word and extracts any words that start with the same letters as the initial word.

def dictionary(initial_word, word_list):
    dictionary = []
    for word in word_list:
        if word.startswith(initial_word):
            dictionary.append(word)
    return dictionary

In [78]:
dictionary("bu",["button","balloon","boat"])

['button']

In [79]:
#55 Create a function that takes a list of strings and returns the words that are exactly four letters

def  four_letter_words(list):
    four_letter_words = []
    for string in list:
        words = string.split()
        for word in words:
            if len(word) == 4:
                four_letter_words.append(word)
    return four_letter_words

In [80]:
four_letter_words(["apple","eyes","nose",])

['eyes', 'nose']

In [3]:
#56 Create a function that takes a year as an argument and returns the corresponding Chinese zodiac.

def chinese_zodiac(year):
    zodiac_signs={0: "Dragon", 1: "snake", 2: "Horse", 3: "sheep",4: "monkey",5: "Rooster",6: "Dog",7: "Pig",8: "Rat",9: "ox",10: "Tiger",11: "Hare"}
    zodiac_index = (year - 2000) % 12
    return zodiac_signs[zodiac_index]

In [4]:
chinese_zodiac(1933)

'Rooster'

In [5]:
#57 Two sisters are eating chocolate, whose pieces are represented as subarrays of [l x w].

#Write a function that returns True if the total area of chocolate is the same for each sister.

def test_fairness(agatha, bertha):
    agatha_area = sum([l * w for l, w in agatha])
    bertha_area = sum([l * w for l, w in bertha])
    return agatha_area == bertha_area

In [6]:
test_fairness([[4,3],[2,4],[1,2]],[[6,2],[4,2],[1,1],[1,1]])

True

In [7]:
#58 The challenge is to fix all of the bugs in this incredibly messy code, which the code in the image might've actually looked like (probably not)! The code given will output the same middle two lines as in the image shown above.

#First parameter is the user's score.
#Second parameter is the required score.  

def grade_percentage(user_score, required_score):
    user_score = int(user_score[:-1])  
    required_score = int(required_score[:-1])  
    if user_score >= required_score:
        return "You PASSED the Exam"
    else:
        return "You FAILED the Exam"

In [8]:
grade_percentage("85%","85%")

'You PASSED the Exam'

In [9]:
grade_percentage("65%","90%")

'You FAILED the Exam'

In [ ]:
#Control Flow

In [30]:
#59  A vehicle needs 10 times the amount of fuel than the distance it travels. However, it must always carry a minimum of 100 fuel before setting off.

#Create a function which calculates the amount of fuel it needs, given the distance.


def calculate_fuel(distance):
    fuel = distance * 10  
    fuel = max(fuel, 100)  
    return fuel

In [31]:
calculate_fuel(15)

150

In [10]:
#60 The packaging system is running wild! The candy is lying loose all over in the warehouse, the cereal is missing, 
#and bread is stuffed in a bottle. What is going on here? The candy should be in plastic and the bread should be in a bag.
#The packaging machine is running the get_container() function to retrieve the container of a product.
#But something is not right...


def get_container(product):
    matches = {"Bread" : "bottle","Milk" : "bottle","Beer" : "bottle","Eggs" : "carton","Cerials" : "box","Candy" : "None"}
    return matches[product]

In [11]:
get_container("Bread")

'bottle'

In [13]:
get_container("Eggs")

'carton'

In [32]:
#61 Write a function that returns 0 if the input is 1, and returns 1 if the input is 0.

def flip(x):
    if x==1:
        return 0
    else:
        return 1

In [33]:
flip(1)

0

In [34]:
flip(0)

1

In [14]:
#62 A "truthy" value is a value that translates to True when evaluated in a Boolean context. All values are truthy unless they're defined as falsy.

#All falsy values are as follows:

#False
#None
#0
#[]
#{}
#""
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.


def is_truthy (value):
    if bool(value):
        return 1
    else:
        return 0

In [15]:
is_truthy(0)

0

In [16]:
is_truthy(True)

1

In [17]:
#63  Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num is 1, otherwise return "Bye" + name.



def say_hello_bye(var1,num):
    if num==1:
        return "Hello "+ var1
    else:
        return "Bye " + var1

In [18]:
say_hello_bye("mark",1)

'Hello mark'

In [19]:
say_hello_bye("mark",0)

'Bye mark'

In [26]:
#64 Darts is a target game played by throwing feathered darts at a circular board with numbered spaces.
# Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance from the middle.
# You need to create a function that takes the dart location as two cartesian coordinates (x, y) and returns a score based 
# on the distance from the middle, aka Bullseye (x=0, y=0).



def calculate_dart_score(x, y):
    distance = (x ** 2 + y ** 2) ** 0.5  
    if distance <= 1:  
        return 10
    elif distance <= 5:  
        return 5
    elif distance <= 10: 
        return 1
    else:  
        return 0

In [28]:
calculate_dart_score(0,0)

10

In [29]:
calculate_dart_score(3,2)

5

In [45]:
#65 Create a function that takes a list (slot machine outcome) and returns True if all elements in the list are identical, and False otherwise. The list will contain 4 elements.


def check_identical(lst):
    return all(element == lst[0] for element in lst)

In [46]:
test_jackpot([7,7,7,7])

True

In [48]:
test_jackpot([7,7,9])

True

In [20]:
#66 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine whether or not the hurdler can clear all the hurdles.
# A hurdler can clear a hurdle if their jump height is greater than or equal to the hurdle height.

def hurdle_jump(jumpers_height,hurdle_jump):
    for x in hurdle_jump:
        if jumpers_height> x:
            return True
        else:
            return False

In [21]:
hurdle_jump(5,[1,2,3,4,5])

True

In [23]:
hurdle_jump(3,[5,5,3,4,5])

False

In [49]:
#67  Create a function that takes a number as its argument and returns a list of all its factors.


def factorial(n):
    if n < 0:
        return None  
    elif n == 0 or n == 1:
        return 1  
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

In [50]:
factorial(5)

120

In [52]:
factorial(6)

720

In [66]:
#68 Create a function that goes through the array, incrementing (+1) for each odd-valued number and decrementing (-1) for each even-valued number.

def transform(arr):
    result = []
    for num in arr:
        if num % 2 == 0:
            result.append(num - 1)
        else:
            result.append(num + 1)
    return result

In [67]:
transform([1,2,3,4])

[2, 1, 4, 3]